listen: {{ hysteria.listen | tojson }}

tls:
  cert: {{ hysteria.certificate_path | tojson }}
  key: {{ hysteria.private_key_path | tojson }}
  sniGuard: strict

obfs:
  type: salamander
  salamander:
    password: {{ hysteria.obfs_password | tojson }}

auth:
  type: http
  http:
    url: {{ hysteria.auth_url | tojson }}
    insecure: false

trafficStats:
  listen: {{ hysteria.stats_listen | tojson }}
  secret: {{ hysteria.stats_secret | tojson }}

speedTest: false
disableUDP: false
udpIdleTimeout: 60s

masquerade:
  type: string
  string:
    content: {{ masquerade_content | tojson }}
    headers:
      content-type: "text/html; charset=utf-8"
      cache-control: "no-store"
    statusCode: 200
